
{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="media">
  <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
  <div class="media-body">
    <h1 class="mt-0">Titre de la série {{ program.title }}</h1>
    
  </div>

  <div>
            <h2> saison numéro {{ season.number }}</h2>


<div class="card">
  <div class="card-header">
    épisode numéro {{ episode.number }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ episode.title }}</h5>
    <p class="card-text">{{ episode.synopsis }}</p>
  </div>
</div>

<div class="card">
  <div class="card-header">
  {% for comment in comments %}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ comment.author.username }}</h5>
    <p class="card-text">{{ comment.comment }}</p>
    <p class="card-text">rate {{ comment.rate }}</p>
    {% endfor %}
  </div>
</div>     
        


    
        </div>
</div>
{% if app.user %}
<a href="{{ path("comment_new", { slug: episode.slug }) }}">
    Commenter
</a>
{% endif %}
<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>

{% endblock %}
